#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

::selection{
  color:#242424;
  background-color: rgba(255, 255, 255, 0.87);
}

.container {
  display:grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  justify-items: center;
}